<div class="about">

    <div class="slide11">
        <h1 class="about_title">Our Mission</h1>
        <p class="about_p">At BookTown, we are looking to make an accessible book store with a wide variety of options for users all over the world.</p>
        <img class="books" data-wow-delay=".5s" src="../../public/assets/books.jpg" alt="responsive design">







    </div>

    <div class="slide22">
        <h1 class="about_title2">How it Works...</h1>
        <p class="about_p2">After creating an account and signing in, the user will be able to sort through and browse a catalog of books.</p>

        <img class="books2" data-wow-delay=".5s" src="../../public/assets/logo_bk200.jpg" alt="responsive design">
    </div>
    <div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a></div>


    <div class="slide33">hi</div>





    <div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a></div>

</div>
<div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a></div>
